<a href="https://colab.research.google.com/github/moiz02/DS/blob/main/DS_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/moiz02/DS/main/LoanApprovalPrediction.csv")

In [ ]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [ ]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [ ]:
df.shape

(614, 13)

In [ ]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [ ]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [ ]:
df["Gender"].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df["Gender"]=le.fit_transform(df["Gender"])

In [ ]:
df["Gender"].value_counts()

1    489
0    112
2     13
Name: Gender, dtype: int64

In [ ]:
df['Gender'].fillna(value=df['Gender'].mean(),inplace=True)

In [ ]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df["Married"]=le.fit_transform(df["Married"])

In [ ]:
df['Married'].fillna(value=df['Married'].mean(),inplace=True)

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df["Dependents"]=le.fit_transform(df["Dependents"])

df['Dependents'].fillna(value=df['Dependents'].mean(),inplace=True)

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df["Self_Employed"]=le.fit_transform(df["Self_Employed"])

df['Self_Employed'].fillna(value=df['Self_Employed'].mean(),inplace=True)

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df["LoanAmount"]=le.fit_transform(df["LoanAmount"])

df['LoanAmount'].fillna(value=df['LoanAmount'].mean(),inplace=True)

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df["Loan_Amount_Term"]=le.fit_transform(df["Loan_Amount_Term"])

df['Loan_Amount_Term'].fillna(value=df['Loan_Amount_Term'].mean(),inplace=True)

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df["Credit_History"]=le.fit_transform(df["Credit_History"])

df['Credit_History'].fillna(value=df['Credit_History'].mean(),inplace=True)

In [ ]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
df["Credit_History"].value_counts()

1    475
0     89
2     50
Name: Credit_History, dtype: int64

In [ ]:
print("hello")