<a href="https://colab.research.google.com/github/moiz02/DS/blob/main/DS_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/moiz02/DS/main/LoanApprovalPrediction.csv")

In [5]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [6]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [7]:
df.shape

(614, 13)

In [8]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [9]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
df["Gender"].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [11]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df["Gender"]=le.fit_transform(df["Gender"])

In [12]:
df["Gender"].value_counts()

1    489
0    112
2     13
Name: Gender, dtype: int64

In [13]:
df['Gender'].fillna(value=df['Gender'].mean(),inplace=True)

In [14]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [26]:
df["Married"]=le.fit_transform(df["Married"])

In [16]:
df['Married'].fillna(value=df['Married'].mean(),inplace=True)

In [27]:
df["Dependents"]=le.fit_transform(df["Dependents"])

df['Dependents'].fillna(value=df['Dependents'].mean(),inplace=True)

In [28]:
df["Self_Employed"]=le.fit_transform(df["Self_Employed"])

df['Self_Employed'].fillna(value=df['Self_Employed'].mean(),inplace=True)

In [29]:
df["LoanAmount"]=le.fit_transform(df["LoanAmount"])

df['LoanAmount'].fillna(value=df['LoanAmount'].mean(),inplace=True)

In [30]:
df["Loan_Amount_Term"]=le.fit_transform(df["Loan_Amount_Term"])

df['Loan_Amount_Term'].fillna(value=df['Loan_Amount_Term'].mean(),inplace=True)

In [31]:
df["Credit_History"]=le.fit_transform(df["Credit_History"])

df['Credit_History'].fillna(value=df['Credit_History'].mean(),inplace=True)

In [32]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [33]:
df["Credit_History"].value_counts()

1    475
0     89
2     50
Name: Credit_History, dtype: int64

In [35]:
df=df.drop(["Gender","Married"],axis=1)

In [37]:
import statsmodels.formula.api as smf

In [38]:
df.columns

Index(['Loan_ID', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [46]:
df["Education"]=le.fit_transform(df["Education"])

df['Education'].fillna(value=df['Education'].mean(),inplace=True)

In [47]:
df["Property_Area"]=le.fit_transform(df["Property_Area"])

df['Property_Area'].fillna(value=df['Property_Area'].mean(),inplace=True)

In [48]:
df["Loan_Status"]=le.fit_transform(df["Loan_Status"])

df['Loan_Status'].fillna(value=df['Loan_Status'].mean(),inplace=True)

In [51]:
df.dtypes

Loan_ID               object
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount             int64
Loan_Amount_Term       int64
Credit_History         int64
Property_Area          int64
Loan_Status            int64
dtype: object

In [49]:
model=smf.ols("Loan_Status~Dependents+Education+Self_Employed+ApplicantIncome+CoapplicantIncome+LoanAmount+Loan_Amount_Term+Credit_History+Property_Area",data=df).fit()

In [52]:
model.params

Intercept            0.366824
Dependents           0.019883
Education           -0.096532
Self_Employed       -0.019650
ApplicantIncome      0.000002
CoapplicantIncome   -0.000012
LoanAmount          -0.000823
Loan_Amount_Term     0.001192
Credit_History       0.425538
Property_Area        0.007187
dtype: float64

In [63]:
x=[100]
df2=pd.DataFrame(x,columns=["Dependents"])
df3=pd.DataFrame(x,columns=["Education"])
df4=pd.DataFrame(x,columns=["Self_Employed"])
df5=pd.DataFrame(x,columns=["ApplicantIncome"])
df6=pd.DataFrame(x,columns=["CoapplicantIncome"])
df7=pd.DataFrame(x,columns=["LoanAmount"])
df8=pd.DataFrame(x,columns=["Loan_Amount_Term"])
df9=pd.DataFrame(x,columns=["Credit_History"])
df10=pd.DataFrame(x,columns=["Property_Area"])

In [67]:
df11=pd.concat([df2,df3,df4,df5,df6,df7,df8,df9,df10],axis=1)

In [68]:
model.predict(df11)

0    34.045361
dtype: float64

In [69]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            Loan_Status   R-squared:                       0.201
Model:                            OLS   Adj. R-squared:                  0.189
Method:                 Least Squares   F-statistic:                     16.92
Date:                Sat, 03 Jun 2023   Prob (F-statistic):           5.34e-25
Time:                        09:46:49   Log-Likelihood:                -330.21
No. Observations:                 614   AIC:                             680.4
Df Residuals:                     604   BIC:                             724.6
Df Model:                           9
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             0.3668      0.131      2.798      0.005       0.109       0.624
Dependents            0.0199      0.015      1.290      0.198      -0.010       0.050
Education            -0.0965      0.042     -2.307      0.021      -0.179      -0.014
Self_Employed        -0.0196      0.032     -0.616      0.538      -0.082       0.043
ApplicantIncome    1.607e-06   3.11e-06      0.517      0.605    -4.5e-06    7.71e-06
CoapplicantIncome -1.196e-05   6.03e-06     -1.983      0.048   -2.38e-05   -1.15e-07
LoanAmount           -0.0008      0.000     -2.153      0.032      -0.002   -7.23e-05
Loan_Amount_Term      0.0012      0.015      0.081      0.935      -0.028       0.030
Credit_History        0.4255      0.036     11.751      0.000       0.354       0.497
Property_Area         0.0072      0.022      0.333      0.740      -0.035       0.050
==============================================================================
Omnibus:                       72.247   Durbin-Watson:                   1.937
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               94.234
Skew:                          -0.946   Prob(JB):                     3.45e-21
Kurtosis:                       2.679   Cond. No.                     6.45e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.45e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [75]:
x=df[["Dependents","Education","Self_Employed","ApplicantIncome","CoapplicantIncome","LoanAmount","Loan_Amount_Term","Credit_History","Property_Area"]]
df12=pd.DataFrame(x,columns=["Dependents","Education","Self_Employed","ApplicantIncome","CoapplicantIncome","LoanAmount","Loan_Amount_Term","Credit_History","Property_Area"])
data_pred=model.predict(df12)

In [76]:
from sklearn import metrics

In [77]:
mse=metrics.mean_squared_error(df["Loan_Status"],data_pred)
from math import sqrt

In [78]:
rmse=sqrt(mse)
print(rmse)

0.4143118975496472